{% extends "base_generic2.html" %}

{% block content %}
  <h1>Welcome to the Database Home</h1>
  <a href="{% url 'shiplist' %}">Ships</a> <br>
  <a href="{% url 'POfilterlistviewURL' %}">Purchase Orders</a> <br>
  <a href="{% url 'itemregisterURL' %}">Material item register</a> <br>
  <a href="{% url 'generalitemfilterlistviewURL' %}">General Items</a> <br>
  <p>Projects</p>
  <p>Customers</p>
  <p>Suppliers</p>
  <p>Employees</p>
  <p>Travel Orders and/or items</p>
  <p>Labor Form</p>
  <p>Logistics Form</p>

 


 
{% endblock %}