{% extends "base_generic2.html" %}

{% block content %}
  <h1>Welcome to the Database Home</h1>
  <a href="{% url 'shiplist' %}">List of Ships</a> <br>
  <p>&emsp; add filter form logic</p>
  <a href="{% url 'POfilterlistviewURL' %}">Purchase Orders</a> <br>
  <p>&emsp; add summaries output to table </p>
  <p>&emsp; add if statement for if table empty </p>
  <a href="{% url 'itemregisterURL' %}">Purchased Items</a> 
  <br>
  <br>
  <br>
  <p>Ship companies (CRUD and filter table)</p>
  <p>Projects (CRUD and filter table)</p>
  <p>&emsp; instead of detail view, have overview of PK = N project</p>
  <p>Customers (CRUD and filter table)</p>
  <p>Suppliers (CRUD and filter table)</p>
  <p>Employees (CRUD and filter table)</p>
  <br>
  <br>
  <p>fill out model fields</p>
  <p>fix form validation</p>
  <p>fix login</p>
 


 
{% endblock %}