{% extends "base_generic2.html" %}

{% block content %}
  <h1>Welcome to Valsamis Forms</h1>
  
    <p><a href="{% url 'PurchaseOrderAdd' %}">Add a Purchase Order (for Materials)...after complete, redirects you to filter-view of POs where you can add, subtract, and edit PO searchable table </a> <br></p>
  
   <p>add items to PO form</p>
   <p>Add a Travel Arrangement (person, dates, locations, cost, associated documents, what job/inspection it is for)</p>
   <p>Add a Shipment (Logistics, aka packling list + $ + Dates + CI/other documents upload)</p>
   <!-- 
   <p>add item</p>
   <p>add  </p>
   

    -->
 
{% endblock %}