{% extends "base_generic2.html" %}

{% block content %}


  <h1>Items belonging to PO # {{ purchaseorder.id }}</h1>
  
  {% for copy in purchaseorder.materialitemregister_set.all %}
  <hr>
  <p><strong>ID:</strong> {{ copy.id }}</p>
  <p><strong>Purchase Order:</strong> {{ copy.PurchaseOrder }}</p>
  <p><strong>Item Description:</strong> {{ copy.item_description }}</p>
  <p><strong>General Item:</strong> {{ copy.generalitem }}</p>
  <p><strong>Price:</strong> {{ copy.price }}</p>
  <p><strong>Currency:</strong> {{ copy.currency }}</p>
  <p><strong>Supplier code:</strong> {{ copy.supplier_code }}</p>
  <p><strong>notes:</strong> {{ copy.notes }}</p>

  {% endfor %}

  <div style="margin-left:20px;margin-top:20px">

    <br>
  <p><strong>Total Amount:</strong> </p>
  <p> <a href = "{% url 'POpdfURL' %}" class ="">Print PDF of PO </p>
  

  







{% endblock %}

