{% extends "base_generic2.html" %}
{% block content %}

{% comment %}
{% endcomment %}
    <a href = "{% url 'shipformURL'  %}" class ="">
        <button type="button">Add New Ship</button>  
        </a>
    <br>
    <br>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th>Ship Name</th>
            <th>Company</th>
            <th>Type of ship</th>
            <th>Date Created</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for ship in ship_list %}
            <tr>
              <td>{{ ship.name }}</td>
              <td>{{ ship.company }}</td>
              <td>{{ ship.typeship }}</td>
              <td>{{ ship.date_created}}</td>
              <td><a href = "{% url 'shipupdateURL' ship.id %}" class ="">
                <button type="button">update</button> </a></td>
              <td>
                    <form action = "{% url 'shipdeleteURL' ship.id %}" method ="post">
                        {% csrf_token %}
                        <button type = "submit" class ="">delete</button>
                    </form></td>

              {% endfor %}
            </tr>
        </tbody>
      </table>

{% endblock %}